@font-face {
  font-family: '方正兰亭纤黑简体';
  src: url('方正兰亭纤黑简体.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: '优设标题黑';
  src: url('优设标题黑.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Dank Mono';
  src: url('Dank-Mono.ttf') format('truetype');
  font-style: normal;
  font-weight: bolder;
}
